.words {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rosybrown;
  text-align: center;
  background-color: peachpuff;
  }
.happy {
  font-family: 'Courier New', Courier, monospace;
  color: lightcoral;
  }